# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
out/
build/

# Keys & Secrets (CRITICAL)
!vercel.json
*.key
*.pem
.env
.env.*
!.env.example
deployer.json
mainnet-deployer.json

# System
.DS_Store
Thumbs.db
